
<% page.posts.each(function(post){ %>

<div class="section-postlist">

	<div class="postlist-content">
		<div class="postlist-title">
			<a href="<%- url_for(post.path) %>"><%- post.title %></a>
		</div>

		<div class="postlist-intro">
			<div class="postlist-intro-container">
				<a href="<%- url_for(post.path) %>"><%- post.title %>">
					<%- truncate(strip_html(post.content),{length: 100,omission: '...'}) %>...
				</a>
			</div>
		</div>

		<div class="postlist-info">
			<ul>
				<li><div class="datatime"></div><%- date(post.date,"YYYY年MM月DD日") %></li>
				<li><div class="author"></div><%- post.author -%></li>
				<li><div class="comment"></div>11条评论</li>
				<li><div class="readnumbers"></div>17，096人阅读</li>
			</ul>
		</div>
	</div>

	<div class="postlist-picture-container">
		<div class="postlist-picture"></div>
	</div>
</div>
<% }) %>

<div class="index-pagination">
	<div class="index-pagination-container">
		<button class="index-pre">上一页</button>
		<ul>
			<li><a href="">1</a></li>
			<li><a href="">2</a></li>
			<li><a href="">3</a></li>
			<li><a href="">4</a></li>
			<li><a href="">5</a></li>
			<li><a href="">6</a></li>
			<li><a href="">7</a></li>
			<li><a href="">8</a></li>
			<li><a href="">9</a></li>
			<li><a href="">10</a></li>
			<li><a href="">···</a></li>
		</ul>
		<button class="index-next">下一页</button>
	</div>
</div>
