<%- partial('_partial/head') %>
	
<body>
	<%- partial('_partial/header') %>
		
		<section>
			<div class="section-container">
				<div class="section-postlist-container">
				<%- body %>
				</div>
				
				<div class="section-sidebar">
					<%- partial('_partial/sidebar') %>
				</div>
				
			</div>
		</section>
			
			
	<%- partial('_partial/footer') %>
</body>
</html>