<%- partial('_partial/head') %>

<body>
  <%- partial('_partial/header') %>

  <section>
    <div class="section-container">
      <div class="section-postlist-container">
        <%- body %>
      </div>

      <div class="section-sidebar">
        <%- partial('_partial/sidebar') %>
      </div>

    </div>
  </section>
  <!-- gototopæŒ‰é’® -->
  <button class="gototop"><span>ðŸ‘†TOP</span></button>

  <%- partial('_partial/footer') %>

  <!-- ä»£ç é«˜äº®æ’ä»¶ -->
  <%- js('js/jquery-3.6.0.min.js') %>
  <%- js('js/menutree.js') %>
  <%- js('js/jquery.gototop.min.js') %>
  <%- js('js/nav-show-always.js') %>
  <%- js('js/search.js') %>
  <%- js('js/enlighterjs.min.js') %>
  <script type="text/javascript">
    // INIT CODE - simple page-wide initialization based on css selectors
    // - highlight all pre + code tags (CSS3 selectors)
    // - use javascript as default language
    // - use theme "enlighter" as default theme
    // - replace tabs with 2 spaces
    EnlighterJS.init('pre', 'code', {
      language: 'javascript',
      theme: 'enlighter',
      textOverflow: 'scroll',
      indent: 2
    });
  </script>

  <!-- gototop è„šæœ¬ -->
  <script type="text/javascript">
    $(function() {
      // $(".gototop").gototop();
      $(".gototop").gototop({
        position: 0,
        duration: 1250,
        visibleAt: 300,
        classname: "isvisible"
      });
    });
  </script>
  <!-- ç«™å†…æœç´¢ -->
  <script type="text/javascript">
    if ($('.local-search').length) {
      $.getScript('/js/search.js', function() {
        searchFunc("/search.xml", 'local-search-input', 'local-search-result');
      });
    }
  </script>

  <%- partial('_partial/script/leancloud') %>
</body>

</html>
