<%- partial('_partial/head') %>

<body>
  <%- partial('_partial/header') %>

  <section>
    <div class="section-container">
      <div class="section-postlist-container">
        <%- body %>
      </div>

      <div class="section-sidebar">
        <%- partial('_partial/sidebar') %>
      </div>

    </div>
  </section>


  <%- partial('_partial/footer') %>

  <!-- 代码高亮插件 -->
  <%- js('js/jquery-3.6.0.min.js') %>
  <%- js('js/menutree.js') %>
  <%- js('js/nav-show-always.js') %>
  <%- js('js/enlighterjs.min.js') %>
  <script type="text/javascript">
    // INIT CODE - simple page-wide initialization based on css selectors
    // - highlight all pre + code tags (CSS3 selectors)
    // - use javascript as default language
    // - use theme "enlighter" as default theme
    // - replace tabs with 2 spaces
    EnlighterJS.init('pre', 'code', {
      language: 'javascript',
      theme: 'enlighter',
      textOverflow: 'scroll',
      indent: 2
    });
  </script>

</body>

</html>
