<div class="article-container">
  <div class="article-header">
    <div class="article-header-container">
      <div class="article-header-title links-page">
        <span><%= page.title||'该文章没有标题' %></span>
      </div>
    </div>
  </div>

  <div class="links-content-container">
    <div class="links-attention">
      <blockquote>
        <p>这里是友链页面，友链可以为我们的博友进行博客的推广，区别于其他博客友链的类型，我还添加了博友的相关的知乎平台、CSDN平台还有简书等等平台来对博友进行推广的功能，下边还可以对博友进行一句话介绍非常新颖。</p>
      </blockquote>
    </div>

    <% theme.friend_links.forEach(function (item) {%>
    <div class="links-item-container">
      <div class="links-item-uper-container">
        <div class="links-item-uper-left-container">
          <a href="<%- item.blog_href%>"><img src="<%- url_for(item.avatar) %>" alt="avatar"></a>
        </div>
        <div class="links-item-uper-right-container">
          <div class="links-item-uper-right-title-container">
            <a href="<%- item.blog_href%>"><span><strong><%- item.name%></strong></span></a>
          </div>

          <div class="links-item-uper-right-link-container">
            <% item.links_ico.forEach(function (e) {%>
            <a href="<%- e.href%>" class="links-hreh links-ico">
              <i class="links-ico-<%- e.ico%> ico-size"></i>
            </a>
            <%})%>
          </div>

        </div>
      </div>

      <div class="links-item-lower-container">
        <span><%- item.introduction%></span>
      </div>

    </div>
    <%})%>
  </div>


</div>
