<div class="article-container">
  <div class="article-header">
    <div class="article-header-container">
      <div class="article-header-title">
        <span><%= page.title||'该文章没有标题' %></span>
      </div>

      <div class="article-header-meta">
        <ul>
          <li>
            <div class="datatime"></div><%- date(page.date,"YYYY年MM月DD日") %>
          </li>
          <li>
            <div class="author"></div><%- page.author -%>
          </li>
          <li>
            <div class="readnumbers"></div>17，096人阅读
          </li>
          <li>
            <div class="category"></div>
            <% if(page.categories.length){ %>
            <%- list_tags(page.categories, {
  										show_count: false,
  										style: 'none',
  										separator: ' ',
  										amount: 5
  								}) %>
            <% } else { %>
            <%= '空' %>
            <% } %>
          </li>
          <li>
            <div class="tag"></div>
            <% if(page.tags.length){ %>
            <%- list_tags(page.tags, {
  										show_count: false,
  										style: 'none',
  										separator: ' ',
  										amount: 5
  								}) %>
            <% } else { %>
            <%= '空' %>
            <% } %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="article-markdown-content">
    <%- page.content %>
  </div>
</div>
