<div class="tag-container">

  <div class="article-header">
    <div class="article-header-container">
      <div class="article-header-title tags-page">
        <span><%= '文章标签列表' %></span>
      </div>
    </div>
  </div>

  <div class="tag-menu">
    <div class="tags-attention">
      <blockquote>
        <p>标签页看似与分类页面相似，但是标签的作用就是帮您快速定位你的文章主题，如果你的文章是关于hexo的，那么你就可以打个hexo标签。和分类页最大的区别就是，分类页是构建你的知识系统，而标签页是构建你的主题系统。比如：《hexo入门系列》就是一个分类，涉及到的主题就是hexo，可以为标签打上一个hexo。</p>
      </blockquote>
    </div>
    <ul id="tree">
      <% site.tags.sort('date', 'desc').each(function(item) { %>
      <li class="tag-index-title">
        <a class="collapse tag-icon" href="#"><%=item.name%> &nbsp -- &nbsp (<%=item.length%>) </a>
        <ul>
          <% item.posts.each(function(e){ %>
          <li>
            <a href="<%- url_for(e.path) %>" title="<%=e.title%>"> 📄 <%- e.title %></a>
          </li>
          <% }) %>
        </ul>
      </li>
      <% }) %>
    </ul>
  </div>
</div>
