<header>
  <nav id="nav-show-always" class="clearfix">
    <div class="navbar-container">
      <div class="navbar-brand">
        <a href="<%= config.root %>" class="navbar-brand-link">
          <div class="navbar-brand-logo"></div>
          <span>酷壳 - COOLSHELL</span>
        </a>
      </div>


      <div class="navbar-menu">
        <ul class="nav-ul">
          <li class="nav-li">
            <a href="<%= config.root %>">主页</a>
          </li>
          <li class="nav-li">
            <a href="<%- url_for('/categories') %>">分类</a>
          </li>
          <li class="nav-li">
            <a href="<%- url_for('/tags') %>">标签</a>
          </li>
          <li class="nav-li">
            <a href="<%- url_for('/achives') %>">归档</a>
          </li>
          <li class="nav-li">
            <a href="<%- url_for('/about') %>">关于</a>
          </li>
          <li class="nav-li">
            <a href="<%- url_for('/links') %>">友链</a>
          </li>
          <li class="nav-li">
            <a href="#">网盘</a>
          </li>
          <li class="nav-li">
            <span class="local-search local-search-google local-search-plugin" style="">
              <input type="search" placeholder="站内搜索..." id="local-search-input" class="local-search-input-cls" style="">
              <div id="local-search-result" class="local-search-result-cls"></div>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="cover">
    <div class="cover-container">
      <span class="cover-brand">酷 壳 - CoolShell</span>
      <span class="cover-subbrand">享受编程和技术所带来的快乐 - Coding Your Ambition</span>
    </div>
  </div>

</header>
