<div class="sidebar-announce">
  <div class="sidebar-announce-container">
    <div class="sidebar-announce-header">
      <span>公告</span>
    </div>
    <div class="sidebar-announce-content">
      <p>这几天更新GitHub系列教程</p>
    </div>
  </div>
</div>

<div class="author-info">
  <div class="author-header">
    <span>博主简介</span>
  </div>
  <div class="author-avatar">
    <img src="<%- url_for('/img/avatar.jpg') %>" alt="avatar">
  </div>

  <div class="author-name">
    <span>Nothinglin</span>
  </div>

  <div class="article-info">
    <ul>
      <li>文章数</li>
      <li>分类</li>
      <li>标签</li>
    </ul>

    <ul>
      <li class="articles"><%- site.posts.length %></li>
      <li class="categories"><%- site.categories.length %></li>
      <li class="tags"><%- site.tags.length %></li>
    </ul>
  </div>

  <div class="author-links">
    <% theme.social.forEach(function (item) {%>
    <a href="<%- item.href%>" class="links-hreh" rel="external nofollow" title="<%- item.name%>" target="_blank">
      <i class="links-ico-<%- item.icon%>"></i>
    </a>
    <%})%>
  </div>

</div>

<div class="aritcle-category">
  <div class="aritcle-category-header">
    <span>文章分类</span>
  </div>

  <div class="aritcle-category-section">
    <ul id="tree">
      <% site.categories.each(function(item) { %>
      <li>
        <a class="collapse" href="#"><%=item.name%></a>
        <ul>
          <% item.posts.each(function(e){ %>
          <li>
            <a href="<%=e.path%>" title="<%=e.title%>"><%- truncate(e.title || '该文章无标题', {length: 15, omission: '···'}) %></a>
          </li>
          <% }) %>
        </ul>
      </li>
      <% }) %>
    </ul>
  </div>
</div>

<div class="sidebar-subscribe">
  <div class="sidebar-subscribe-header">
    <span>公众号订阅作者</span>
  </div>

  <div class="sibar-subscribe-picture">
    <img src="<%- url_for('/img/subscribe.jpg') %>" alt="苦逼的学生仔">
  </div>
</div>
