<!--Title-->
<%
    var title = page.title;
    if (is_archive()) {
        if (is_year() || is_month()) {
            title = __('archive_b', page.year + (page.month ? '/' + page.month : ''));
        } else {
            title = __('archive_a');
        }
    } else if (is_category()) {
        title = __('分类') + ': ' + page.category;
    } else if (is_tag()) {
        title = __('标签') + ': ' + page.tag;
    }
%>
<title>
    <% if (title){ %>
    <%= title %> |
    <% } %>
    <%= config.title %>
</title>
<% if (theme.rss){ %>
<link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
<% } %>
<% if (theme.favicon){ %>
<link rel="icon" href="<%- url_for(theme.favicon) %>">
<% } %>
